spring:
  application:
    name: payments
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate.jdbc.lob.non_contextual_creation: true
      hibernate.temp.use_jdbc_metadata_defaults: false
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    url: ${LOGISTICS_POSTGRES_HOST}
    hikari:
      minimumIdle: 2
      maximumPoolSize: 20

kafka:
  bootstrapAddress: ${KAFKA_BOOTSTRAP_ADDRESS}